* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}
body {
    background-color: antiquewhite;
    margin-bottom: 36px;
}
#ecodraad {
        margin: 0 auto;
        width: 70%;
        text-align: center;
        border-radius: 1rem;
        border: 1px solid;
    }
 nav ul {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        background-color: rgb(205, 202, 202);
        padding: 0%;
    }

.pinguintje {
    display: flex;
    margin: 0 auto;
    width: 70%;
    height: 50%;
    border-radius: 10%;
}

.button,
nav a {
    font-size: 15px;
    padding: 0.39em;
    font-family: arial;
    color: black;
    border: 4px solid black;
    border-radius: 0.7em;
    text-decoration: none;
    background-color: bisque;
}
.button:hover,
nav a:hover {
    background: black;
    color: black ;
    border-color: beige;
    /*transform translateY(-0.5em);*/
}

p {
    font-size: large;
    margin: 10px;
    text-align: center;
    padding-bottom: 0.5em;
}
.wannabe1, .wannabe3, .lovemuts, .wannabe4{
    display: block;
    margin: 0 auto; 
}
.wannabe4, .lovemuts{
    width: 90%;
}
.wannabe1{
    width: 70%;
    height: 60%;  
}
.lovemuts{
    height: 50%;   
}
.wannabe3{
    width: 50%;
    height: 70%;    
}
.wannabe4{
    height: 80%; 

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}

li a:hover:not(.active) {
    background-color: #111;
  }

a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 70%;
    height: 5%;
    justify-content: center;
    align-items: center;
}

.logos{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 5vw;
}

.logo{
    max-height: 12vh;
    max-width: 35vw;
}
